<form class="login-box" (submit)="onSubmit()">
  <div *ngIf="error">
    <h1>Hiba történt a belépés közben!</h1>

    <p>{{error}}</p>
  </div>

  <div class="form-element">
    <label for="username">Felhasználónév</label>

    <input type="text" id="username" name="username" [(ngModel)]="username">
  </div>

  <div class="form-element">
    <label for="password">Jelszó</label>

    <input type="password" id="password" name="password" [(ngModel)]="password">
  </div>

  <div class="form-button">
    <button type="submit" class="button button--blue">Belépés</button>
  </div>
</form>
