<h1>Memory game</h1>

<div *ngIf="status === 'unloaded'">
  <p>Loading...</p>
</div>

<div *ngIf="status === 'finished'">
  <p>Congratulations, you have finished the game. Your score is {{tries}}.</p>

  <button class="button button--blue" (click)="restart()">Restart game</button>
</div>

<div *ngIf="status === 'loaded'">
  <p>Try to find all the pairs...</p>

  <p>Current score: {{tries}}</p>

  <button class="button button--blue" (click)="restart()">Restart game</button>

  <ul class="cards">
    <li
      *ngFor="let card of cards"
      [ngClass]="{
        'cards__item': true,
        'cards__item--turned': card.isTurned,
        'cards__item--paired': card.isPaired
      }"
      (click)="turnCard(card)"
    >
      <div class="cards__item__front"></div>

      <div *ngIf="card.isTurned || card.isPaired" class="cards__item__back">
        {{card.value}}
      </div>
    </li>
  </ul>
</div>
