$green: #41b3a3;

@keyframes flash-background {
  0% {
    background: $green;
  }

  100% {
    background: #fff;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 -.5rem;
  padding: 0;
}

.cards__item {
  margin: .5rem;
  width: 10rem;
  height: 10rem;
  border-radius: .5rem;
  border: .0625rem solid #ddd;
  cursor: pointer;

  &:hover {
    background: #efefef;
  }
}

.cards__item--paired {
  animation: flash-background 1s forwards;
  color: #efefef;

  &:hover {
    background: #fff;
  }
}

.cards__item--turned {
  transform: rotateY(180deg);
}

.cards__item__front, .cards__item__back {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.cards__item {
  transition: .6s;
  transform-style: preserve-3d;

  position: relative;
}

.cards__item__front, .cards__item__back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.cards__item__front {
  z-index: 2;
  transform: rotateY(0deg);
}

.cards__item__back {
  transform: rotateY(180deg);
}
